@model IPagedList<ArtStore.DATA.EF.Models.Product>
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@{
    ViewData["Title"] = "Tiled Images";
}

@section Styles {
    <link href="~/css/PagedList.css" rel="stylesheet" />
}

<!-- Start Hero Section -->
<section>
    <div class="hero mb-0 pb-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-excerpt text-center">
                        <h2>
                            Shop <span>Art</span>
                        </h2>
                        <p align="center">

                            @if (User.IsInRole("Admin"))
                            {
                                <span>
                                    <a asp-action="Create">Add New Image</a> |
                                </span>
                            }
                            <a asp-action="Index">Table View</a>
                        </p>
                    </div>
                </div>
                <div class="col-lg-7">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->


<section class="untree_co-section product-section">
    <div class="container">

        <div class="row">
            <!-- Aside Search Container -->
            <div class="col-md-4">
                <aside>
                    <form asp-action="TiledProducts" method="get">
                        <label for="categoryId" class="control-label d-block" style="text-align: left;">Category</label>
                        <select name="categoryId" class="form-control mb-3" asp-items="@ViewBag.CategoryId" style="text-align: left;">
                            <option value="0">[Choose a Category]</option>
                        </select>
                        <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" class="form-control mb-3" placeholder="Search Art..." style="text-align: left;" />
                        <button type="submit" class="btn btn-primary d-block w-50">GO!</button>
                        <a asp-action="TiledProducts" class="btn btn-secondary d-block  mt-2 w-50 mb-5">Clear</a>
                    </form>
                    @if (ViewBag.NbrResults != null)
                    {
                        <p class="mt-5 p-2 alert-warning" style="text-align: left;">
                            Showing @ViewBag.NbrResults result@(ViewBag.NbrResults == 1 ? "" : "s") for '@ViewBag.SearchTerm'...
                        </p>
                    }
                </aside>
            </div>


            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        @foreach (var item in Model)
                        {

                            <!-- Start Column 1 -->
                            <div class="col-sm-6 col-md-6 col-lg-4 mb-4">
                                <div class="box h-100 border p-5 rounded bg-light">
                                    <a asp-action="AddToCart" asp-controller="ShoppingCart" asp-route-id="@item.ProductId" class="option2 product-item">
                                        <img src="~/artimages/@item.ProductImage" alt="@item.ProductName" class="img-fluid product-thumbnail rounded-2">
                                        <h3 class="product-title"> @item.ProductName</h3>
                                        <strong class="product-price">@Html.DisplayFor(modelItem => item.ProductPrice)</strong>
                             
                                        <span class="icon-cross my-2">
                                            <img src="~/img/add-to-cart.svg" class="img-fluid my-2" width="50px">
                                        </span>
                                    </a>
                                </div>
                            </div>
                         
                            <!-- End Column 1 -->


                        }
                        <div class="w-50 mx-auto text-center">
                            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                            <div class="w-100">
                                @Html.PagedListPager(Model, page => Url.Action("TiledProducts", new {
                                page,
                                searchTerm = ViewBag.SearchTerm,
                                categoryId = ViewBag.CategoryId
                                }))
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>


