<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArtStore.UI.MVC</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tiny-slider.css" asp-append-version="true" />
    <!-- Custom -->
    <link rel="stylesheet" href="~/css/custom-theme.css" />

    <!-- Font-Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

       <!-- Boostrap, jQuery, Datatables.net-->
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.7/datatables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.7/datatables.min.js">
    </script>

</head>
<body>
    <header>
        <!-- Start Header/Navigation -->
        <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark" arial-label="Furni navigation bar">

            <div class="container">
                <div>
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><img src="~/favicon.png" width="100" /> </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsFurni">
                    <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                        <li class="nav-item" id="home-link active">
                            <a class="nav-link" href="@Url.Action("Index","Home")">
                                Home
                            </a>
                        </li>
                        <li id="products-link">
                            <a class="nav-link" href="@Url.Action("TiledProducts", "Products")">
                                Products
                            </a>
                        </li>
                        <li id="about-us-link">
                            <a class="nav-link" href="@Url.Action("AboutUs", "Home")">About us</a>
                        </li>                     
                        <li id="contact-us-link">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact us</a>
                        </li>
                    </ul>

                    <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                                             <li><a class="nav-link" href="#"><img src="~/img/user.svg"></a></li>

                        
                        <partial name="_LoginPartial" />
                        <li><a class="nav-link" href="@Url.Action("index","ShoppingCart")"><img src="~/img/cart.svg"></a></li>
                    </ul>
                </div>
            </div>

        </nav>
        <!-- End Header/Navigation -->
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <!-- Start Footer Section -->
    <footer class="footer-section">
        <div class="container relative">

           

            <div class="row g-5 mb-5">
                <div class="col-lg-4">
                    <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Art Shop<span>.</span></a></div>
                    <p class="mb-4">This website is for demonstration purposes only. All products and services listed on this site are not real and cannot be purchased.</p>

                    <ul class="list-unstyled custom-social">
                        <li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
                    </ul>
                </div>

                <div class="col-lg-8">
                    <div class="row links-wrap">
                        <div class="col-12 col-sm-12 col-md-12">
                            <ul class="list-unstyled">
                                <li>   <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a href="@Url.Action("TiledProducts", "Products")">Products</a></li>
                                <li><a href="@Url.Action("AboutUs","Home")">About us</a></li>
                                  <li><a href="@Url.Action("Contact","Home")">Contact</a></li>
                            </ul>
                        </div>            

                       
                    </div>
                </div>

            </div>

            <div class="border-top copyright">
                <div class="row pt-4">
                    <div class="col-lg-6">
                        <p class="mb-2 text-center text-lg-start">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Designed with love by <a href="https://untree.co">Untree.co</a> Distributed By <a hreff="https://themewagon.com">ThemeWagon</a>  <!-- License information: https://untree.co/license/ -->
                        </p>
                    </div>

                    <div class="col-lg-6 text-center text-lg-end">
                        <ul class="list-unstyled d-inline-flex ms-auto">
                            <li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </footer>
    <!-- End Footer Section -->
    <script src="https://kit.fontawesome.com/f089e498f6.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    
   <!-- jQuery, Bootstrap, Datatable -->
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-1.13.7/datatables.min.js"></script>

      <!-- jQuery Unobtrusive / AJAX-->    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js" integrity="sha512-DedNBWPF0hLGUPNbCYfj8qjlEnNE92Fqn7xd3Sscfu7ipy7Zu33unHdugqRD3c4Vj7/yLv+slqZhMls/4Oc7Zg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



    <script src="~/js/site.js" asp-append-version="true"></script>
    @* @await RenderSectionAsync("Scripts", required: false) *@
    @RenderSection("Scripts", false)

        <script>
    // Get the current page URL
    var currentPageUrl = window.location.href;

        // Check if the URL contains the substring for each page and add the 'active' class accordingly
        if (currentPageUrl.includes("/Home/Index")) {
            document.getElementById("home-link").classList.remove("active");
        } else if (currentPageUrl.includes("/Products/TiledProducts")) {
            document.getElementById("products-link").classList.add("active");
        } else if (currentPageUrl.includes("/Home/AboutUs")) {
            document.getElementById("about-us-link").classList.add("active");
        } else if (currentPageUrl.includes("/Home/Contact")) {
            document.getElementById("contact-us-link").classList.add("active");
    }
    </script>
</body>
</html>
