@{
	ViewData["Title"] = "Home Page";
}

<!-- Start Hero Section -->
<section>
	<div class="hero my-5 ">
		<div class="container">
			<div class="row justify-content-between align-items-center bg-light p-5 rounded border-one">
				<div class="col-lg-5">
					<div class="intro-excerpt bg-dark p-5 rounded-2">
						<h1>Graphics, <span clsas="d-block">Art, and Photos</span></h1>
						<p class="mb-4">Welcome to Art Shop, your premier destination for a world of visual inspiration. Our company is dedicated to bringing the beauty of art, the allure of photography, and the power of graphics into your life.</p>
						<p><a href="@Url.Action("Index","Products")" class="btn btn-secondary me-2">Shop Now</a><a href="@Url.Action("TiledProducts","Products")" class="btn btn-white-outline">Explore</a></p>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="p-5">
						<img src="~/img/hedgehog.png" class="img-fluid rounded-2" alt="Sonic the Hedgehog">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Hero Section -->
<!-- Start Product Section -->
<div class="product-section">
	<div class="container">
		<div class="row rounded row justify-content-between align-items-center p-5 border-three">

			<!-- Start Column 1 -->
			<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
				<h2 class="mb-4 section-title">Discover Stunning Art Assets</h2>
				<p class="mb-4">Explore our curated collection of high-quality JPGs, PNGs, and vector graphics. Find the perfect assets for your creative projects.</p>
				<p><a href="@Url.Action("TiledProducts","Products")" class="btn">Browse Images</a></p>
			</div>
			<!-- End Column 1 -->
			<!-- Start Column 2 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="@Url.Action("TiledProducts","Products")">
					<img src="~/artimages/elephant.jpg" class="img-fluid product-thumbnail" alt="Elephant">
					<h3 class="product-title">High Resolution JPG</h3>
					<strong class="product-price"></strong>

					<span class="icon-cross">
						<img src="~/artimages/elephant.jpg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 2 -->
			<!-- Start Column 4 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="@Url.Action("TiledProducts","ArtAssets")">
					<img src="~/artimages/sports-car.svg" class="img-fluid product-thumbnail" alt="sport car vector art">
					<h3 class="product-title">Vector Art</h3>
					<strong class="product-price"></strong>

					<span class="icon-cross">
						<img src="~/artimages/sports-car.svg" class="img-fluid">
					</span>
				</a>
			</div>
			<!-- End Column 4 -->
			<!-- Start Column 3 -->
			<div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
				<a class="product-item" href="@Url.Action("TiledProducts","ArtAssets")">
					<img src="~/artimages/sakura.png" class="img-fluid product-thumbnail">
					<h3 class="product-title">Anime Art</h3>
					<strong class="product-price"></strong>

					<span class="icon-cross">
						<img src="~/artimages/sakura.png" class="img-fluid" alt="anime character">
					</span>
				</a>
			</div>
			<!-- End Column 3 -->

		</div>
	</div>
</div>
<!-- End Product Section -->
<!-- Start Why Choose Us Section -->
<section class="my-5">
	<div class="hero my-5">
		<div class="container">
			<div class="row justify-content-between bg-light p-5 rounded border-two">
				<div class="col-lg-6">
					<h2 class="section-title">Why Choose Us</h2>
					<p class="text-dark">At ArtShop, we are passionate about providing top-quality digital art assets to fuel your creative projects. Here's why you should choose us:</p>

					<div class="row my-5">
						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon-feature">
									<img src="~/img/easel.svg" alt="Image" class="img-fluid">
								</div>
								<h3 class="fw-bold my-2">Diverse Selection</h3>
								<p class="text-dark">Explore our extensive collection of digital art assets, including stunning JPGs, PNGs, and vector graphics.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon-feature">
									<img src="~/img/rocket.svg" alt="Image" class="img-fluid">
								</div>
								<h3 class="fw-bold my-2">Instant Download</h3>
								<p class="text-dark">Get immediate access to your chosen art assets with our seamless instant download process.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon-feature">
									<img src="~/img/support.svg" alt="Image" class="img-fluid">
								</div>
								<h3 class="fw-bold my-2">24/7 Support</h3>
								<p class="text-dark">We're here to assist you around the clock, ensuring a smooth experience for all your creative needs.</p>
							</div>
						</div>

						<div class="col-6 col-md-6">
							<div class="feature">
								<div class="icon-feature">
									<img src="~/img/paint-pallete.svg" alt="Image" class="img-fluid">
								</div>
								<h3 class="fw-bold my-2">Quality Art Assets</h3>
								<p class="text-dark">Our art assets are crafted by talented artists to ensure the highest quality for your projects.</p>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-5">
					<div class="img-wrap">
						<img src="~/artimages/fighter.svg" alt="Image" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Why Choose Us Section -->
